<%= form_tag '/cash_ups', method: :get do %>
  <div class="row">
    <div class="col-4">
      <div class="form-group">
        <%= label_tag :generate_report, 'Generate Report' %>
        <%= select_tag('month', options_for_select(MONTH_DROPDOWN, CURRENT_MONTH), class: 'form-control') %>
      </div>
    </div>
  </div>

  <%= submit_tag 'Search', class: 'my-3 btn btn-primary' %>
<% end %>