<div class="row">
  <div class="col-xl-12">
    <ul style="list-style:none; padding-left:0; float:right!important">
      <li style="font-size: 30px; color: red;">Jawad Works</li>
      <li>73 Rebecca Street pretoria west</li>
      <li>usamasajid86@gmail.com</li>
    </ul>
  </div>
</div>