<div class="d-flex justify-content-between col-6">
  <div>
    <h1>Edit Cash Up</h1>
  </div>

  <div class="my-auto">
    <span><b>Date:</b> <%= @cash_up.created_at.strftime('%d-%b-%Y') %></span>
  </div>
</div>

<%= render 'form', cash_up: @cash_up %>
