<div class="my-auto">
  <% case name %>
  <% when 'cash_ups' %>
    <%= link_to '+ Cash Up', new_cash_up_path, class: 'pull-right btn btn-primary ml-20px' %>
  <% else
       # type code here
     end %>
</div>