<h1 class="h3 mb-3"><strong>Analytics</strong> Dashboard</h1>

<div class="row">
  <%= render partial: 'partials/monthly_cards' %>
</div>
<div class="row">
  <%= render partial: 'partials/recent_movement', locals: { recent_movement: @recent_movement } %>
</div>
