<%= content_tag :div, '', id: 'monthly_sales-container', class: 'hide', data: { source: monthly_sales } %>

<div class="col-12 col-lg-6 col-xxl-6 d-flex">
  <div class="card flex-fill w-100 no-border">
    <div class="card-header bg-transparent no-border">

      <h5 class="card-title mb-0">Monthly Sales</h5>
    </div>
    <div class="card-body d-flex w-100">
      <div class="align-self-center chart chart-lg">
        <canvas id="chartjs-dashboard-bar"></canvas>
      </div>
    </div>
  </div>
</div>