<div class="col-xl-6 col-xxl-5 d-flex">
  <div class="w-100">
    <div class="row">
      <% @cards.each do |card| %>
        <div class="col-sm-6">
          <div class="card no-border">
            <div class="card-body">
              <div class="row">
                <div class="col mt-0">
                  <h1 class="card-title"><%= card.upcase %></h1>
                </div>

                <div class="col-auto">
                  <div class="stat text-primary">
                    <%= render_card_image(card) %>
                  </div>
                </div>
              </div>
              <h4 class="mt-1 mb-3">R <%= render_amount(card) %></h4>
              <div class="mb-0">
                <!--                <span class="text-danger"> <i class="mdi mdi-arrow-bottom-right"></i> -3.65% </span>-->
                <span class="text-muted font-13">Total <%= card %> This Month</span>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>