<nav class="navbar navbar-expand navbar-light navbar-bg p-3">
  <a class="sidebar-toggle js-sidebar-toggle">
    <i class="hamburger align-self-center"></i>
  </a>

  <div class="navbar-collapse collapse">
    <ul class="navbar-nav navbar-align">
      <li class="nav-item dropdown">
        <a class="nav-link d-none d-sm-inline-block" href="#" data-bs-toggle="dropdown">
          <%= link_to destroy_user_session_path, method: :delete, class: 'no-text-deco' do %>
            <img src="<%= '/assets/logout.png' %>" class="avatar img-fluid rounded me-1" alt="Charles Hall"/>
          <% end %>
        </a>
      </li>
    </ul>
  </div>
</nav>