<nav id="sidebar" class="sidebar js-sidebar">
  <div class="sidebar-content js-simplebar">
    <div class="sidebar-cta text-center text-white">
      <div class="my-3 text-sm">
        <img src="/assets/Ali_Wali_Ullah.png" alt="Ali Walli Ullah" width="150">
      </div>
    </div>

    <ul class="sidebar-nav">

      <li class="sidebar-item active">
        <a class="sidebar-link" href="<%= root_path %>">
          <i class="align-middle" data-feather="sliders"></i> <span class="align-middle">Dashboard</span>
        </a>
      </li>

      <li class="sidebar-item">
        <a class="sidebar-link" href="<%= cash_ups_path %>">
          <i class="align-middle" data-feather="user"></i> <span class="align-middle">Cash Up</span>
        </a>
      </li>
    </ul>
  </div>
</nav>