<div class="wrapper">

  <%= render partial: 'partials/sidebar' %>

  <div class="main">
    <%= render partial: 'partials/navbar' %>

    <%= render partial: 'partials/main_page' %>

    <%= render partial: 'partials/footer' %>
  </div>
</div>
